{% load staticfiles %}
<div>
{% include "spsir_website/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" > 
<div name="cv"><br>
	<h2><u>Contact</u></h2>
			
	<center>
		<b>Shaligram Prajapat</b>
		<h5>Associate Professor</h5><br>
		<h4>Email:</h4>
		shal<a href="http://www.google.com/recaptcha/mailhide/d?k=01Yyo8FJKvdyO84L_Umh2KBQ==&amp;c=jnhAV33JdFFCGnGm8trEsqYzFP4nm9LYXkYF8uoaW2U=" style="line-height:1.5;font-size:10pt" title="Reveal this e-mail address">...</a>@gmail.com

		<h5>
		shal<a href="http://www.google.com/recaptcha/mailhide/d?k=01Yyo8FJKvdyO84L_Umh2KBQ==&amp;c=zzF0GSAPUXjE7P6eGujYz8QNSQ3oAyqLdIjDDaNTeUM=" style="line-height:1.5;font-size:10pt" title="Reveal this e-mail address">...</a>@dauniv.ac.in</h5><br>
		<a href="https://www.google.co.in/maps/place/International+Institute+of+Professional+Studies/@22.688425,75.876705,15z/data=!4m2!3m1!1s0x0:0x39f47fbb92c83277" target="_blank" style="text-decoration:none; color: inherit;"  title="Track the address in google map ">
		<h4>Office address:</h4></a>
		<h5>International Institute Of Professional Studies</h5>
		<h5>Devi Ahilya University</h5>
		<h5>Takshashila Campus, Khandwa Road</h5>
		<h5>Indore - 452001, INDIA</h5><br>
		<h5>Office contact:</h5>
		<h5>Phone: 91h0-731-2461888, 2462087, 2461332, 2760101</h5>
		<h5>Fax - 91-731-2467888</h5>

	</center>	
