{% load staticfiles %}
<div>
{% include "spsir_website/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" > 
<div name="cv"><br>
<h2><u>Contact</u></h2>
		

<center>
<b>Shaligram Prajapat</b>
<h5>Associate Professor</h5><br>
<h4>Email:</h4>
<h5>shal...@gmail.com </h5>
<h5>shal...@dauniv.ac.in </h5><br>
<h4>Office address:</h4>
<h5>International Institute Of Professional Studies</h5>
<h5>Devi Ahilya University</h5>
<h5>Takshashila Campus, Khandwa Road</h5>
<h5>Indore - 452001, INDIA</h5><br>
<h5>Office contact:</>
<h5>Phone: 91h0-731-2461888, 2462087, 2461332, 2760101</h5>
<h5>Fax - 91-731-2467888</h5>










</center>	
	0