{% load staticfiles %}
<div>
{% include "spsir_website/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" >  
<div name="cv">
<h4>Sorry for the inconvenience.</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<h3>latest detailed resume is going to upload soon....</h3>
<h4>Please visit my linked in profile for the time being.</h4>
<h3>or</h3>
<h4>Ask me on mail, for detailed CV.</h4>
click here :<a href="https://in.linkedin.com/pub/chitra-dhawale/54/b47/65b" target="_blank">  to visit linkedin profile of profile of  Dr. Chitra Chawale</a></h4>
</div>
<!--
<p>{{ profilePic.name }}</p>	



<p>{{ profilePic.id}}</p>		
<p>{{ profilePic.profilePic }}</p>
<img src="{{ profilePic.profilePic }}">

<img src="{% static 'spsir_website/{{profilePic.profilePic }}

' %}">
<img src="{% static 'spsir_website/images/chitraMam.jpg' %}" alt="My image" width="60%"  height="10% "/>
-->

<div name="cv">
<h4>Sorry for the inconvenience.</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div></div></div>
<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "spsir_website/footer.html" %}</div>
  </div>


