{% load staticfiles %}
<div>
{% include "spsir_website/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" >  
<div name="memberships"><br>
	<h2><u>Memberships</u></h2>
			<br><br>
		
	<ul>
		<li>Senior Member of the IACSIT , Member No.: 80338892</li>
		<li>Member of International Association of Engineers (IAENG), Hong Kong</li>
		<li>Life Member ISTE, New Delhi.</li>
		<li>Member, Editorial Board for Journals :</li>
		<ul>
			<li>International Journal of Advancements in Computing Technology</li>
			<li>International Journal on Advances in Information Sciences and Service Sciences.</li>
			<li> International Journal of Computer Science & Systems, ISSN. 2249-8222</li>
			<li>International Journal of Engineering and Advanced Technology.</li>
			<li>Covenant Journal of Computer Science, Vietnam</li>
			<li>Bio-Info Publications.</li></ul>
		<li>Reviewer for Journals :</li>
		<ul>	
			<li>International Journal of Advancement in Computing Technology ,</li>
			<li>International Journal of Computer Science and Information Security,</li>
			<li>International journal of Image Processing,</li>
			<li>International Journal of Computer Application.</li>
			<li>International Journal of Engineering and Advanced Technology</li></ul>
		<li>Reviewer for Publications :</li>
		<ul>
			<li>Pearson Education Ltd.</li>
			<li>McGraw- Hill Education Ltd</li>
			<li> Senior Member of the IACSIT , Member No.: 80338892</li>
			<li>Member of International Association of Engineers (IAENG), Hong Kong</li>
			<li>Life Member ISTE, New Delhi.</li></ul>
		<li>Member, Editorial Board for Journals :</li>
		</ul>
		<ul>
			<li>International Journal of Advancements in Computing Technology</li>
			<li>International Journal on Advances in Information Sciences and Service Sciences.</li>
			<li>International Journal of Computer Science & Systems, ISSN. 2249-8222</li>
			<li>International Journal of Engineering and Advanced Technology.</li>
			<li>Bio-Info Publications.</li>
		</ul>	
</div>
</div>
</div>

<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "spsir_website/footer.html" %}</div>
  </div>


          
            

            

            

