{% load staticfiles %}
<div>
{% include "webpage/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" > 
<div name="cv"><br>
<h2><u>Education</u></h2>
		<br><br>
<ul>
	<li><b> Ph.D. in Computer Science:</b> “Study and Development of Data Abstraction Algorithms for VideoDatabase” 			Sant Gadge Baba Amravati University, Amravati, 2009 (Notification No. 75/2009 dated 24/09/2009)</li><br>
	
	<li><b>M. Sc (Computer Science, First Class):</b> SSGB, Amravati University, Amravati. June 1994.</li><br>
	
	<li> <b>B.Sc.(Computer Science, First Class): </b>Shri Shivaji Science College, Amravati University,Amravati.       June.1991.</li>

</ul>

</div>
</div>
</div>
<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "webpage/footer.html" %}</div>
  </div>