{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'webpage/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'webpage/style.css' %}" />

<br>  

  <div class="col-xs-12 col-md-10 " style="">
  	<h3><u>Contacts</u></h3>
  	<ul>
  		<li><b>Gmail:</b>cadhawale@rediffmail.com</li>
  		<li><b>Twitter:</b></li>
  		<li><b>Facebook:</b></li>
  	</ul>
  </div>
  <div class="col-xs-12 col-md-2"><br><br><br>
  	<a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxkcmNoaXRyYWRoYXdhbGV8Z3g6NDQzYzkwN2Y3YzY2ZWRjYw" target="_blank">
	<span class="glyphicon glyphicon-download-alt"></span> Download CV</a>
  </div>

