{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'webpage/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'webpage/style.css' %}" />

<br>  

  <div class="col-xs-12 col-md-10 " style="">
  	<h3><u>Contacts</u></h3>
  	<ul>
  		<li ><b>Gmail:</b>
            <a href="http://www.google.com/recaptcha/mailhide/d?k=01Yyo8FJKvdyO84L_Umh2KBQ==&amp;c=jnhAV33JdFFCGnGm8trEsqYzFP4nm9LYXkYF8uoaW2U=" style="line-height:1.5;font-size:10pt" title="Reveal this e-mail address" target="_blank"><span style="font-size:11pt;">shal...@gmail.com</span></a></li>

  		<li><b>Twitter:&nbsp;</b><a href="https://www.facebook.com/S.P.Indore" target="_blank">www.facebook.com</a></li>
  		<li><b>LinkedIn:&nbsp;</b><a href="https://www.linkedin.com/profile/view?id=48577250" target="_blank">www.linkedin.com</li>
  	</ul>
  </div>
  <div class="col-xs-12 col-md-2"><br><br><br>
  	<a href="https://skydrive.live.com/redir.aspx?cid=59ee15fa1399fe19&resid=59EE15FA1399FE19!108" target="_blank">
	<span class="glyphicon glyphicon-download-alt"></span> Download CV</a>
  </div>

