{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'webpage/bootstrap.min.css' %}" />

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dr.Chitra Webpage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="jumbotron" style=" height:350%; background-color:#FFF6D9 ;">
  <div class="col-md-10 col-md-offset-1" style="background-color:#004E7F; ">
    <div class="container" class="col-md-12">
      <h3>Dr.Chitra A. Dhawale</h3>
      <h5>Principal S.P. College </h5>  
      <nav class="navbar navbar-inverse" style="background-color:#004E7F ;">
          <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">button
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
              <a class="navbar-brand" href="/">Dr.Chitra A. Dhawale</a>
            </div>
          <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/webpage/cv/">CV</a></li>
                <li><a href="/webpage/education/">Education</a></li>
                <li><a href="/webpage/teaching/">Teaching</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="/webpage/research/">Research <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="/webpage/research">Research</a></li>
                    <li><a href="/webpage/research/publications">Publication</a></li>
                  </ul>
                </li>
                <li><a href="/webpage/memberships/">Memberships</a></li>
                <li><a href="/webpage/contactMe/">Contact me</a></li>
            </ul>
        
          </div><!-- Navbar collapse-->
          </div><!-- Container Fluid-->
      </nav>  
