{% load staticfiles %}
<div>
{% include "webpage/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" >  
<div name="teaching"><br>
<h2><u>International Conferences</u></h2>
        <br><br>

  <ul>
      <li>“A Novel Approach -Human Face & Eye Detection,” In Proc. of International Conference on Cybernetics, Systematics and Informatics (ICSCI-2005), pp 441-446, 6-9 Jan. 2005, Hyderabad (A.P).</li>
      
      <li>“Comparision of Statistical Methods For Texture Analysis,” In.Proc. of IEEE sponsored, International Conference on Advances in Computer Vision and Information Technology, (ACVIT-07), pp.689-698, 28-30 Nov.2007, Aurangabad (MS)</li>
      
      <li>“Effective Keyframe Selection for Video Summarization,” In Proc. of International Conference on Advances in Computing, (iCAC-2008), 21-22 Feb.2008, Chikhali.(MS)</li>
     
      <li>“An Improved Approach towards Video Shot Detection,” In Proc.of International Conference on Cognition (ICCR-08), 10-12 April.2008, Mysore (Karnataka).</li>
      
      <li>“Keyframe Selection using Multiple Feature Experts for Video Summarization.” Accepted in ICSIT-2008, 30-31 August. 2008, Singapore.</li>
      
      <li>“Motion Compensated Block-based Approach towards Video Fade Detection”, Accepted in ICSIP-2008, Sept.24-26, Heidelberg, Germany.</li>
     
      <li>“An Innovative Approach for Recognizing abnormal shapes of Red Blood Cells in Sickle-Cell and Anemia”, International Conference, 11-12 Oct, 2011, “Information Technology”, JSPM, Pune.</li>
      
      <li>sujit Kumar, C.A.Dhawale, Sanjay Misra, “Survey of Object Detection Methods in Camouflaged Image” 2013 International Conference on Electronic Engineering and Computer Science, Vietnam, published by Elsevier B.V., IERI Procedia 00 (2013) 000–000.</li>
      
      <li>Ashish Mundra, Sanjay Misra, Chitra Dhawale, “Practical Scrum-Scrum Team: Way to Produce Successful and Quality Software”, 13th International Conference on Computational Science and Its Applications, pp. 119-123, IEEE explorer, 10.1109/ICCSA.2013.25 , 23 June - 26 June 2013, Ho Chi Minh City, Vietnam</li>
      
      <li>Aumdevi Barbudhe, Vishwajit Barbudhe and Chitra Dhawale , ”Comparative Analysis of Security Mechanism of Mobile IPv6 Threats against Binding Update,  Route Optimization and Tunneling”, Accepted in IEEE conf. ICAST-2014, to be held at Covenant University, Ota, Nigeria, 29-31 oct. 2014.</li>
      
      <li>Naveen Jambhekar, C.A.Dhawale, “Performance Analysis of Digital Image Steganographic Algorithm” Accepted in CSI and ACM Conference -ICTCS – 2014 to be held at Udaipur, Rajasthan, 14-16 Nov. 2014.</li>
      
      <li>Manojkumar Sonawane, C.A.Dhawale, “Evaluation of Character Recognisers: Artificial Neural Network and Nearest Neighbour Approach”, Accepted in IEEE Conference, CICT-2015, Ghaziabad, 13-14 Feb.2015</li>
      
      <li>Aumdevi Barbudhe, C.A.Dhawale, “Comparison of Mechanisms for Reducing Handover Latency and Packet loss problems Of Route Optimization in MIPv6”, Accepted in IEEE Conference, CICT-2015, Ghaziabad, 13-14 Feb.2015.</li>

  </ul>     
</div>
</div>
</div>
<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "webpage/footer.html" %}</div>
  </div>
    

    

    

    

    

    

    

    

    

    

    

    

    

