{% load staticfiles %}
<div>
{% include "webpage/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" > 
<h2><u>Journal Publications</u></h2>
		<br><br>
<ul>
	<li>“Monitoring of waste water using colour information,” Journal of Pradushan Nirmulan, pp.11-17, Issue: April. 2005.</li>
	
	<li>“Evaluation of Video Segmentation Techniques,” Computer Science Journal,vol.1, pp.47-54, Issue:April 2006.</li>
	
	<li>“Slow Motion Generation Techniques,” Computer Science Journal, vol.1, pp.35-42, Issue: June 2006.</li>
	
	<li>“Motion Compensated Block-based Approach towards Video Fade Detection,” International Journal of Image Processing and Communications.vol.13,No.1-2,pp. 47-58. 2008.</li>
	
	<li>C.A.Dhawale, Sanjeev Jain, “Motion Compensated Video Shot Detection using Multiple Feature Experts,” International Journal of Graphics, Image and Video Processing, vol.(8), issue(V), pp.1-11. Jan. 2009.</li>
	
	<li>Shailesh Thakare, C.A.Dhawae , “Knowledge Discovery through Data Mining in the improvement of Business and its Operating”, Online International Interdisciplinary Research Journal, ISSN 2249-9598 Volume-I, Issue-II, Nov-Dec 2011 pp 66-69.</li>
	
	<li>Shailesh R. Thakare,Dr.C.A.Dhawale” Trasanction Control System on Various Techniques for Maintaining Consistency of Database” International Journal of Engineering Research and application Vol2 2,Issue 2,mar0Apr 2012,pp 1337-1348.</li>
	
	<li>Shailesh R. Thakare,Dr.C.A.Dhawale “Design Distributed Database Strategies for SQMD Architecture” International Journal of Engineering and Advanced Technology (IJEAT) Volume-1,Issue-2,December 2011.</li>
	
	<li>S.R.Thakare, C.A.Dhawale, “ Study of “MHILIBHRD-V”Architecture of Database” International Journal of Scientific and Engineering Research Vol 3.issue 6,June 2012</li>
	
	<li>Aumdevi Barbudhe, C.A.Dhawale, “A Robust Secured Mechanism for Mobile IPv6 Threats”, International Journal of Engineering Research and Applications (IJERA) ISSN: 2248-9622 Vol. 2, Issue 6, pp.918-921, Nov.-Dec. 2012</li>
	
	<li>Vinita Srivastav, Dr. Chitra Dhawale “A Review of Rule Extraction Technique in Neural Network”, 
	published by IFRSA Journal .</li>
	
	<li>Ms.Sonali Banubakode, C.A.Dhawale, “Survey of Eye-Free Text Entry Techniques of Touch Screen Mobile Devices Designed for Visually Impaired Users”, Covenant Journal of Informatics and Communication Technology (CJICT) Vol. 1, No. 2, December, 2013.</li>
	
	<li>Naveen Jambhekar, C.A.Dhawale, “Review of Impact of Security Measures on performance of some Cryptographic Algorithms” , IJRCSIT I ISSN No.: 2319-5010 I Vol. 2 I Issue 2 I February 2014.</li>
	
	<li>Aumdevi Barbudhe, C.A.Dhawale,” Mobile IPv6 :Threats and Solution”, International Journal of Application or Innovation in Engineering & Management (IJAIEM), ISSN 2319 - 4847 ,Volume 2, Issue 6, June 2013.</li>
	
	<li>Aumdevi Barbudhe, C.A.Dhawale,” Mobile IPv6 Route Optimization Protocol”, International Journal of Computer Trends and Technology (IJCTT) – volume 4 Issue 7, July 2013</li>	

</ul>
</div>
</div>

<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "webpage/footer.html" %}</div>
  </div>
    
    

    

    

    

    

    

    
