{% load staticfiles %}
<div>
{% include "webpage/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" >   
<div name="teaching"><br>
<h2><u>National Conferences</u></h2>
		<br><br>
<ul>
	<li>“Video Streaming Over Internet,” In Proc. of National Conference-RTCCN-04, 2-3 July 2004, JDEIT, Yeotmal (MS).</li>
	
	<li> “Survey of Video Abstraction Techniques,” In Proc. of National Conference, 15-16 Oct. 2004, Longowal (Punjab).</li>
	
	<li> “Bluetooth Technology for Video Streaming,” In Proc. of National Conference, NLTPPC-2005, 8-9 Jan.2005, Kadi (Gujarat).</li>
	
	<li>“Video Trailer Generation,” In Proc. of National Conference, NLTPPC-2005, 8-9 Jan.2005, Kadi (Gujarat).</li>
	
	<li> “Color Feature Extraction from Video Database,” In Proc. of National Conference, NCAETE 05, 11-13 March 2005, Osmanabad (MS).</li>
	
	<li>“Feature based Video Abstraction Algorithms-Overview,” In Proc. of National Conference, NCAETE 05, 11-13 March 2005, Osmanabad (MS).</li>
	
	<li>“Advanced Shot Detection Tecchniques,” In Proc. of National Conference, NCBC’05, 18-19 March 2005, Patiala (UP).</li>
	
	<li>“Slow Motion Generation,” In Proc. of National Conference, NCSCA’05, 28-30 Nov.2005, Amravati.(MS)</li>
	
	<li>“Multifeature Keyframe Selection for Video,” In Proc. of National Conference on Speech, Image and Video Processing, 10-11 Jan.2008, Shegaon (MS).</li>
	
	<li>“Multifeature Keyframe Selection for Video,” In Proc. of ETCIT, 19-20 Sept. 2008, College of Engg, H.V.P.Mandal, Amravati. (MS).</li>
	
	<li> Shailesh R. Thakare,Dr.C.A.Dhawale,” Design Database Strategies on basis “GOMWTDS” Methods”,National Conference on Recenr Trends in Computing on 7 and 8 April by Matoshri Pratishthan’s group of Institution,Nanded.</li>
</ul>
</div>	</div></div>
<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "webpage/footer.html" %}</div>
  </div>

    

    

    

    
   

