{% load staticfiles %}
<div>
{% include "webpage/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" >  
<div name="research"><br>
<h2><u>Research</u></h2>
		<br><br>
<ul>
	<li>Research Area of Interest:</li>
	Image Processing, Video Processing, Computer Graphics, Multimedia Technologies.
	<li>Registered Ph.D. Guide at :</li>
	<ul>
		<li>Rashtra Sant Tukdoji Maharaj University, Nagpur</li>
		<li>Sant Gadge Baba Amravati University , Amravati,</li>
		<li>Uttar Gujrat University, Patan, Gujrat and</li>
		<li>Symbiosis International University, Pune</li></ul>

	<li>9 Students have registered Ph.D and doing research in Amravati and Nagpur University.</li>
	<li>2 students awarded Ph.D</li>
	

</ul>
	


<div class="row">
	<hr>
	<div class="col-sm-11">
		<a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxkcmNoaXRyYWRoYXdhbGV8Z3g6NGE1M2M4MTA5MDUwNmU5ZQ" target="_blank">Resource Person_for_guest_lectures-workshops-4.docx
	</div>
	<div class="col-sm-1 "></div><span class="glyphicon glyphicon-download-alt"></span> Download
</div>	

<div class="row">
	<hr>
	<div class="col-sm-11"></a>
	<a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxkcmNoaXRyYWRoYXdhbGV8Z3g6NDQzYzkwN2Y3YzY2ZWRjYw" target="_blank">Resource Person_for_guest_lectures-workshops-4.pdf
		</div>
	<div class="col-sm-1 "></div><span class="glyphicon glyphicon-download-alt"></span> Download</a>
	<hr>
</div>
</div></a></div></div></div></div></div>
<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "webpage/footer.html" %}</div>
  </div>
                

                
                
        
        