{% load staticfiles %}
<div>
{% include "webpage/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" >   
<div name="subjectsTought"><br>
<h2><u>Subjects Taught</u></h2>
		<br><br>
<ul>
	<li>Data Structures</li>
	<li>C programming</li>
	<li>C++ Programming</li>
	<li>Visual Basic</li>
	<li>Java Programming</li>
	<li>System Software</li>
	<li>Operating System</li>
	<li>Unix Operating System Design</li>
	<li>E-Commerce</li>
	<li>Artificial Intelligence</li>
	<li>multimedia technologies</li>
	<li>Computer Graphics</li>
	<li>Networking Essentials</li>
	<li>SYSTEM ADMINISTRATION AND SECURITY.</li>
	<li>Computer Organisation</li>

</ul>
</div>


<div class="col-md-10 col-md-offset-1 midDiv"  style=" margin-top:1%;">
      <div>{% include "webpage/footer.html" %}</div>
  </div>
 


 
 
