{% load staticfiles %}
<div>
{% include "webpage/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" >  
<div name="teaching"><br>
<h2><u>Teaching</u></h2>
		<br><br>
<ul>
	<li>Working as a Incharge Principal ,S.P. College and Head, MCA Department, P.R.Patil Group of Educational Institutes, Amrvavati from 23’rd August 2011 to Till Date.</li>
	<li>Worked as a Professor, Symbiosis Institute of Computer Studies and Research, Pune, From 22’nd July 2010 to 15’th April 2011.</li>
	<li>Worked as Associate Professor (Sel.Grade), P.G.Deptt. Of Computer Science and Technology, H.V.P.Mandal, Amravati 444605. From 2’nd February 2007 to 17’th July 2010.</li>
	<li>Worked as Sr. Lecturer, P.G.Deptt. Of Computer Science and Technology, H.V.P.Mandal, Amravati 444605. From June 2004 to July 2007.</li>
	<li>Worked as a full time lecturer, P.G.Deptt. of Computer Science and Technology, H.V.P.Mandal, Amravati 444605. From July 1996 to May 2005.</li>
	<li>Worked as a full time lecturer (Adhoc), P.G.Deptt. of Computer Science and Technology, H.V.P.Mandal, Amravati 444605. In the session 1995-96.</li>
	<li> Worked as a Visiting Lecturer, P.G.Deptt. Of Computer Science and Technology, Amravati University, Amravati 444602. From August 1994 to June 1995.</li>

</ul>

</div>
Subpages:-(1)
<a href="/webpage/subjectsThought">Subjects Thought</a>

<div class="row">
<hr>
<div class="col-sm-11">
<a href="https://docs.google.com/viewer?a=v&pid=
	sites&srcid=ZGVmYXVsdGRvbWFpbnxkcmN
	oaXRyYWRoYXdhbGV8Z3g6MjRhYmQyYWFlNGI0YjNhOQ" target="_blank">proposal_for_guest_lectures-workshops-4.docx
(17k)</div>
<div class="col-sm-1 "></div><span class="glyphicon glyphicon-download-alt"></span> Download
<hr></a>
</div>
</div>
</div>
</div>
<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "webpage/footer.html" %}</div>
  </div>



     

    
    

    

    

    

   
