{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'spsir_website/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'spsir_website/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head><title>Shaligram Prajapat Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body><!-- style=" background-color:#FFF6D9 ;"-->
<div class="jumbotron">
  <div class="col-md-10 col-md-offset-1" style="background-color:#FFFFFF  ;border-radius: 5px; "><!-- 398DC6  -->
    <div class="container" class="col-md-12">
      <h3>Shaligram Prajapat</h3>
      <h5>Associate Professor </h5>  
      <nav class="navbar navbar-inverse" style="background-color:#929292; "><!-- 004E7F-->
          <div class="container-fluid">
          <div class="navbar-header">
                <a class="navbar-brand" href="/">Shaligram Prajapat</a></div>
          <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                    <li><a href="/">Profile</a></li>

                    <li><a href="/spsir_website/cv/">CV</a></li>

                    <li><a href="/spsir_website/teaching/" class="navactive">Teaching <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                                 <li><a href="/spsir_website/research">Academic and Industry Projects</a></li>
                                  <li><a href="/spsir_website/research">M.Tech. (IT) -Project@VI Semester</a></li>
                                  <li><a href="/spsir_website/research">Teaching-DNA-(IT-504)</a></li>
                                  <li><a href="/spsir_website/research">Teaching-Computer Graphics-IC-503</a></li>
                                  <li><a href="/spsir_website/research">Research in Computing</a></li>
                                  <li><a href="/spsir_website/research">Analysis and Design of Algorithms</a></li>
                                  <li><a href="/spsir_website/research/publications" class="navactive">DCO</a></li>
                         </ul>
                         </li>

                    <li><a href="/spsir_website/teachers/" class="navactive">Teachers</a></li>

                    <li class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="/spsir_website/research/" class="navactive">Recommendations 
                         <span class="caret"></span></a>
                         <ul class="dropdown-menu">
                             <li><a href="/spsir_website/books/" class="navactive">Books</a></li>
                             <li><a href="/spsir_website/research">Research</a></li>
                             <li><a href="/spsir_website/research/publications" class="navactive">Publication</a></li>
                         </ul>
                        </li>
                    <li><a href="/spsir_website/dc_iips" class="navactive">Development Center @ IIPS</a></li>

                    <li class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="/spsir_website/research/" class="navactive">Recommendations 
                         <span class="caret"></span></a>
                         <ul class="dropdown-menu">
                             <li><a href="/spsir_website/books/" class="navactive">Books</a></li>
                             <li><a href="/spsir_website/research">Research</a></li>
                             <li><a href="/spsir_website/research/publications" class="navactive">Publication</a></li>
                         </ul>
                         </li>
            </ul>
        
          </div><!-- Navbar collapse-->
          </div><!-- Container Fluid-->
      </nav>  
      </div>
      </div>
      <br><br>