{% load staticfiles %}
<div>
{% include "spsir_website/header.html" %} 
</div>

<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" > 
<div name="my_teachers"><br>

	<h2><u>Workshops</u></h2><br><br>
	<div name="list" style="padding-left:5%; padding-right:30%">
	<ul><b>
		{% if workshop_list %}
   			 {% for q in workshop_list %}
		     <li>{{ q.workshop_name }}</li>
		
   			 {% endfor %}
         {% endif %}


	</ul></b>
	</div>
	</div></div></div>

</div></div></div>	
<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "spsir_website/footer.html" %}</div>
  </div>