{% load staticfiles %}
<div>
{% include "spsir_website/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" > 
<div name="books"><br>
	<h2><u>Books</u></h2>

	    DNA (IT 504)

            Computer Oriented Numerical Methods by V Rajaraman, PHI Publications

    Algorithms, Analysis and Design-IC 802

    Introduction to Algorithms Second Editionby Thomas H. Cormen,Charles E. Leiserson, Rivest,Stein PHI publications
    Algorithm Design John Kleinberg, Eva Tardos Pearson Addison wesley publication
    Fundamentals of Computer Algorithms Ellis Horowitz,Sartaj Sahni,S.Rajasekaran Galgotia Publication
    Introduction to the Design and Analysis of Algorithms,Anay Levitin,Second Edition,Pearson Education publications.


    Computer Graphics-IC 503

1. Computer Graphics (Principles and Practice) by Foley, van Dam, Feiner and Hughes, Addisen Wesley (Indian Edition).
2. Computer Graphics by D Hearn and P M Baker, Printice Hall of India (Indian Edition).
3. Mathematical Elements for Computer Graphics by D F Rogers, McGraw Hill (Indian  Edition).
4. Procedural Elements for Computer Graphics by D F Rogers, McGraw Hill (Indian Edition).
5. Interactive Computer Graphics, A top-down approach with OpenGL by Edward Angele, Addisen Wesley.






	
</div></div></div>	
<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "spsir_website/footer.html" %}</div>
  </div>