{% load staticfiles %}
<div>
{% include "spsir_website/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" > 
<div name="ecc"><br>
	<h2><u>ECC</u></h2>
  <h3> Awards and Recognition</h3>
  <ul>
      <li>Young Investigator Award–IRNet-2012 (For Shaligram Prajapat, Amber jain, R. S. Thakur, “A Novel Approach For Information Security with Automatic Variable Key Using Fibonacci Q-Matrix”, International Journal of Computer & Communication Technology (IJCCT) ISSN (ONLINE): 2231 - 0371 ISSN (PRINT): 0975 – 7449 Vol-3, Iss-3, 2012, p.p. No. 54-57.)</li>
      <li>Nominated and selected for “Bharat Jyoti Award”, New Delhi on 10 June-2013 for contribution in the field of education along with “Certification of Excellence” at a befitting function.</li>
  </ul>

  <h3> Invited Talks</h3>
  <ul>
      <li>Invited as resource person in One Week workshop on “Intelligent Computing Techniques in Data Mining” (Under TEQIP-II) (Under TEQIP-II), from 14 -18 January, 2013, session talk was given on “Swarm Intelligence”.</li>
      <li>Taken coaching of UGC-NET Computer Science and applications as per the UGC-XI th Plan Order No. 1028/2012 at Govt. Holkar Science College indore dated 18/8/2012.</li>
      <li>Delivered a talk on Principals workshop of Colleges of MP, “Internet and its Application in Orientation Program for teachers on “Internet and it’s application” on August 18, 2012 from 10:30 AM to 1:30 PM.</li>
      <li>Delivered a talk on “Internet and its Application in Orientation Program for teachers on “Internet and it’s application” on July 18, 2012 from 10:30 AM to 1:30 PM.</li>
      <li>Delivered a talk on “Database techniques” at Oriental University for Students of CS and IT on 28 May 2012.</li>
      <li> Delivered a lecture (as a resource person) in refresher course in computer course in computer application in Academic Staff College Devi Ahilya University Indore on Oct.18,2011.</li>
      <li>5 days lecture series on Theory of computation and complexity theory at. MB college affiliated to Jammu university, J&K , May 24 to May 30 ,2010.</li>
      <li>One day talk on Information Representation to MCA students at Priyadarshini college Jammu, J&K , June 1,2010.</li>
      <li>Turing m/c and applications to BE (CSE) and BE (IT) at Model Institute of Engineering &Technology Jammu ,J&K on June 2,2010.</li>
      <li>Conducted a Seminar on Theory of Computation for BE students at Oriental Institute of Science and Technology, Bhopal MP ,on Feb 2008.</li>
  </ul>

  <h3> International Journals/Conferences</h3>
  <ul>
      <li>P. Chakrabarti, A. Choudhary, N. Naik, and S. Prajapat, “Hacker’s key prediction in the light of statistics and artificial intelligence, IJCSNS October 2008.</li>
      <li>Shaligram Prajapat, Sachin Saxena, Amber Jain,“ Implementation of Information Security with Fibonacci Q-Matrix”, in the International Conference on Intelligent Computing and Information System (ICICS-2012) also accepted  for publication in International Journal of Electronics Communication and Computer Engineering, ISSN(Online): 2249 - 071X Reg. No.: 62575/BPL/CE/2012   (http://www.ijecce.org/fp/icicis)</li>
      <li>Shaligram Prajapat, Amber jain, R.S.Thakur, “A Novel Approach For Information Security with Automatic Variable Key Using Fibonacci Q-Matrix”, International Journal of Computer & Communication Technology (IJCCT) ISSN (ONLINE): 2231 - 0371 ISSN (PRINT): 0975 – 7449 Vol-3, Iss-3, 2012, p.p. No. 54-57.</li>
      <li>Ankit Kulkarni,Arpit Bhawar, Shaligram Prajapat, “ Text Recognition in an Image Using Statistical Method”, in the International Conference on Intelligent Computing and Information System -ICICS-2012, also accepted  for publication in International Journal of Electronics Communication and Computer Engineering,ISSN(Online): 2249 - 071X Reg. No.: 62575/BPL/CE/2012   (http://www.ijecce.org/fp/icicis)</li>
      <li>Shaligram Prajapat, Dr. R.S. Thakur,” Recurrence relation approach for key prediction”,communicated in 18th International Conference of Gwalior Academy of Mathematical Science  (GAMS) Theme: Mathematical, Computational and Integrative Sciences September 2013.</li>
      <li>Shaligram Prajapat, Dr. R.S. Thakur, ”Time variant approach towards symmetric key”, communicated and accepted by SAI-Conference London, cosponsored by IEEE and Springer , October-2013.</li>
  </ul>

  <h3> Publication in National Conference</h3>
  <ul>
      <li>Shaligram Prajapat, Dr. R.S. Thakur, "Efficient  cryptosystem based on AVK approach", National Conference on Emerging Trends in computational Science,8-9 March 2013 held at MANIT-2013-(Paper ID:61).</li>
      <li>Akanksha, Bedi, Misha, Komal, Shaligram Prajapat, “Requirement Analysis of Feedback System of a UTD: case study” National Seminar on Computational Techniques for Engineering Applications “NSCTEA-2012”.</li>
  </ul>

  <h3> Research Associations</h3>
  <ul>
      <li>Technical Editor of International Journal of Advanced Studies in Computers, Science and Engineering-ISSN 2278 7917 (http://www.ijascse.org/editorial-board)</li>
      <li>Member of Reviewer committee of FOREX technical Journal library started in 2013.FOREX Publication is a society of Scientist, Engineers, Research Scholar and management people. (http://forexjournal.co.in/rboard.aspx).</li>
      <li>Member of Reviewer committee of International Journal  Member of Technical Committee as reviewer in international conference -ICGITS 2013 ( www.icgits.org )</li>
      <li>Member of Editorial team of international ISROSET journal ( www.isroset.or g )Member of Organizing committee of International Conference. </li>
      <li> Member of organizing committee in International Conference on intelligent Computing and information system(ICICIS-2012) on 27-28 October,2012 at Panchmari, Madhya Pradesh, INDIA.</li>
      <li>Member of Panel Discussion Committee in 15 National IT Conference.</li>
      <li>Member of Panel discussion in 15th UGC Sponsored National IT on, “Emerging Trends in IT”, Conference in Pioneer Institute of Professional Studies Indore MP, In Feb-2013.</li>
      <li>Member of curriculum design Committee • Member of Syllabus Review Workshop at PIMR Indore and reviewed syllabus of BCAIII Electronics-II in May 2012. </li>
  </ul>

  <div class="row panel panel-default">
    <div class="col-sm-11 ">
      <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzaGFsaWdyYW1paXBzZGF2dmluZG9yZXxneDoxNGEwMDZmMDIyMDdh" target="_blank" style="text-decoration:none;">15th_National_IT_Conference_Feb-16-2013.pdf (153k)
    </div>
    <div class="col-sm-1 "></div><span class="glyphicon glyphicon-download-alt"></span> Download
  </div>  

  <div class="row panel panel-default">
    <div class="col-sm-11 ">
      <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzaGFsaWdyYW1paXBzZGF2dmluZG9yZXxneDo3MjlhMzBmNGNkYjdhYWE4" target="_blank" style="text-decoration:none";>Calender _OF_PROJECT_ACTIVITIES-MAY2015.pdf (187k)
    </div>
    <div class="col-sm-1 "></div><span class="glyphicon glyphicon-download-alt"></span> Download
  </div> 

  <div class="row panel panel-default">
    <div class="col-sm-11 ">
      <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzaGFsaWdyYW1paXBzZGF2dmluZG9yZXxneDphYTRlNDExMmYxOTMwNjY" target="_blank" style="text-decoration:none";>Calender _OF_PROJECT_ACTIVITIES-jan-may-2014.pdf (188k)
    </div>
    <div class="col-sm-1 "></div><span class="glyphicon glyphicon-download-alt"></span> Download
  </div> 
</a>
<br>
</div>
</div>
</div>
</div>
</div>



</div></div></div>	
<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "spsir_website/footer.html" %}</div>
  </div>