{% load staticfiles %}
<div>
{% include "spsir_website/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" > 
<div name="cv"><br>
	<h2><u>Contact</u></h2>

Strategic Thinking  Hi Tech Strategy Guide

Before building a project-Must read

Analysis and Design of Algorithm

 Iteration v/s Recursion ,Eliminating Recursion (solved example -Tower of Hanoi,Tree Traversal)
Subpages (2): Books ECC





	
			
</div></div></div>	
<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "spsir_website/footer.html" %}</div>
  </div>