{% load staticfiles %}
<div>
{% include "spsir_website/header.html" %} 
</div>
<div class="jumbotron" >
<div class="col-md-10 col-md-offset-1 midDiv" > 
<div name="project"><br>
	<h2><u>Academic and Industry Projects</u></h2>
	<div style="padding-left:5% ; padding-right:2%; padding-top:3% ;"><em>
	<h5><b>"You can't have great software without a great team, and most software teams behave like dysfunctional families."---- Jim McCarthy</h5>
	<br>
	<h5>"The Six Phases of a Project: Enthusiasm, Disillusionment, Panic, Search for the Guilty, Punishment of the Innocent, Praise for non-participants." -- Unknown</b></h5>
	</div></b>
	<img src="{% static 'spsir_website/images/adobe_acrobat.png' %}" class="img-responsive" alt="Cinque Terre" width="24" height="36"> 




	







	
			
</div></div></div>	
<div class="col-md-10 col-md-offset-1 footer"  style=" margin: 1% 10% 1%; width:80%">
      <div>{% include "spsir_website/footer.html" %}</div>
  </div>